body{
    background-color: rgb(235, 208, 179);
}

h1{
    color: rgb(99, 57, 23);
    text-align: center; 
}

p{
    color: rgb(78, 42, 17);
    text-align: justify

}

div{
   text-align: center; 
}